python-dotenv
langchain-community
tavily-python
langchain-tavily
google-genai
langchain-anthropic
langsmith
google-cloud-aiplatform
# langchain-google-vertexai # Deprecated in favor of langchain-google-genai
replicate
streamlit
moviepy
arxiv
langchain
langgraph
lancedb
psycopg2-binary
gTTS
requests
langchain-google-genai

langgraph
moviepy
numpy<2.3.0
asyncpg
psycopg-pool
